$breakpoints: (
        small: 767px,
        medium: 992px,
        large: 1200px
);

@mixin media-query($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: #{map-get($breakpoints, $breakpoint)}) {
      @content;
    }
  }
}

@mixin desktop-only {
  @media (min-width: #{map-get($breakpoints, medium)}) {
    @content;
  }
}

@mixin mobile-only {
  @media (max-width: #{map-get($breakpoints, medium)}) {
    @content;
  }
}

.desktop-only {
  @include mobile-only {
    display: none;
  }
}

.mobile-only {
  @include desktop-only {
    display: none;
  }
}
